.navbar {
  margin-top: 0.5rem;
  width: 100%;
  height: 70px;
  background: rgb(255, 251, 224);
  background: radial-gradient(
    circle,
    rgba(255, 251, 224, 1) 34%,
    rgb(243, 233, 170) 81%,
    rgb(245, 233, 154) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border-style: outset;
  -webkit-box-shadow: 9px 7px 22px -11px rgba(66, 68, 90, 1);
  -moz-box-shadow: 9px 7px 22px -11px rgba(66, 68, 90, 1);
  box-shadow: 9px 7px 22px -11px rgba(66, 68, 90, 1);
  margin-bottom: 1rem;
}

.white_btn {
  color: #3e3014;
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: transparent;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 40px;
  transition: transform 0.3s ease;
  transform: translateY(0);
}

.white_btn:hover {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #f8bc54;
  border-radius: 5px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-right: 40px;
  transform: translateY(-20%);
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 20px; /* Add this line */
}
.logo:hover {
  width: 100px;
  height: 100px;
  margin-left: 20px; /* Add this line */
}
